*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
background-color:rgb(133, 6, 31);
width: 100%;
height: 10vh;
z-index: 99;
position: relative;
}

.ul-navbar {
display:flex;
height:60px;
justify-content: center;
align-items: center;
font-size: small;
}

.li-navbar {
list-style-type: none ;
padding: 10px;
margin: 10px;
color: rgb(3, 23, 41);
font-size: 50px;
font: 2em arial;
}

.li-navbar:hover {
    background-color:rgb(20, 20, 99) ;
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
    
}

.a-navbar {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 800;
    z-index: 99;
    position: relative;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;  
}

.a-jpg {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    background-size: cover;
}

.a-jpg::after{
    content: "";
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.a-content{
    width: 250px;
    height: 150px;
    text-decoration:none;
    font: 1em arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

.img-content {
width: 80%;
height: 80%;
}

.container-footer {
    height: 5vh;
    background-color: rgb(122, 17, 38);
    display:flex;
    justify-content: center;
    align-items: center; 
    font: 2em Arial;
    z-index: 99;
    position: relative;
}

.h1-footer{
 font-size: 20px;
 color: #f7f7f7;
}

@media screen and (max-width: 922px) and (min-width: 500px) {
  .a-jpg, .a-jpg::after .a-content .container-content, .container-navbar, .container-footer,.ul-navbar, .li-navbar, .img-content  {
    width: 100%; }
}